body {
  width: 960;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightblue;
  color: darkgreen;
}

header {
  width: 800px;
  font-size: 50px;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
  margin: 25px auto;
  padding: 25px;
  text-align: center;
  border: 5px solid darkgreen;
}

main {
  width: 900px;
  background-color: lightgray;
  margin: 25px auto;
  padding: 25px;
  text-align: center;
  border: 5px solid darkgreen;
}

main h3 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}

main p {
  font-size: 20px;
}

main em {
  font-weight: bold;
}

footer {
  width: 900px;
  border: 5px solid darkgreen;
  background-color: lightgoldenrodyellow;
  font-size: 20px;
  margin: 25px auto;
  padding: 25px;
  text-align: center;
}